- if !searchterm
  - searchterm = ''

- if show_entry?(item)
  .item_listing
    .row.discussion
      - if master
        .small-3.columns.text-right
          = image_tag item.icon
        .small-9.columns.title.text-left
          = link_to raw(item.name), item
      - else
        .small-12.columns.title= link_to raw(item.name), item
          
      
    .row_under= render :partial => 'shared/discussion_entry', locals: {chat: item , master: master.nil? ? false : master, searchterm: searchterm}
