
.row
  .small-12.columns
    .master_metadata.metadata
      .item_metadata
        %span.item_metadata_category Label:
        %span.item_metadata_value= item.label
      
      .item_metadata
        %span.item_metadata_category Format:
        %span.item_metadata_value= item.format
        
      .item_metadata
        %span.item_metadata_category Released:
        %span.item_metadata_value= item.year
