.row
  .small-8.columns.small-offset-2.master_metadata
  - unless item.amazoncode.blank?
    - cache(:id => item.id.to_s, :action => "show", :category => 'masterbook', :action_suffix => 'amazondata') do
      - book = Amazon::Ecs.item_search(item.amazoncode, {:response_group => 'Medium'}).items[0] rescue nil
      - unless book.nil?
        - review =  book.get('EditorialReviews/EditorialReview/Content')
        - unless review.nil?
          %blockquote.book_review= raw review.gsub(/&#x2019;/, '\'').gsub(/&lt;/, '<').gsub(/&gt;/, '>')
        
= content_for :jquery do
  :plain
    $('.book_review').readmore();        
