#results
  = render :partial => 'shared/item', :collection => @items, :locals => {:searchterm => ''}
  
- unless @items.blank?
  = paginate @items
  = pageless(@items.total_pages, url_for(@items.first.class.table_name))
:javascript
  $("img[rel]").live('click', function() {
    $(this).overlay({effect: 'apple'}).trigger("click");
  });