.container
  .row
    .small-12.large-10.large-offset-1.columns
      %h2
        All
        = @category.pluralize.downcase
  .row.search_result
    .large-10.large-offset-1.small-12.small-offset-0.columns#results
      = render :partial => 'shared/item', :collection => @items, :locals => {:searchterm => '', master: @category.constantize.new.has_master?}
  
- unless @items.blank?
  = paginate @items
  = pageless(@items.total_pages, url_for(@items.first.class.table_name))
