/*
 *= require_self
 *= require jquery-ui/datepicker
 *= require new
 *= require forum
 *= require discussion
 *= require master
 *= require slick
 *= require slick-lightbox
 *= require map
 *= require punymce/editor
 *= require foundation_and_overrides
 *= require mobile
*/

@import "font-awesome";
@import 'foundation_and_overrides';

.container {
  padding-top: 2rem;
}

a {
  span.has-tip {
    color: $primary-color;
  }
}

p {
  color: #333;
  font-weight: 300;
  margin: 0.5rem 0;
}

