@import "foundation/functions";
@include exports("global") {}
@import "foundation/components/global";

#outer {
 
  position: relative;    background-repeat: no-repeat; 

  width: 100%; height: 100%;
   padding: 1.5rem 0rem; 
  
}

#slideshow {
  opacity: 0;
}
img#outer-wrap { width: 100%; opacity: 0; z-index: -10; position: absolute; top: 0; left: 0;}

.forum_head {
  min-height: 180px;
  margin-top: 25px;
  padding-top: 10px;

  
  h1 {
    background-color: white;
    color: black;
    opacity: 0.7;
  }
  .agent_metadata {
    font-size: 0.9em;
    font-weight: 300;    
    background-color: white;
    color: black;
    opacity: 0.7;
 
    padding: 6px;
    margin: 10px 0px;
  }
  
  .inner {
    p.very_small {
      margin: 0;
      padding: 0;
      line-height: 0;
    }
    
    .main_title {

      clear: both;
      display: inline-block;
      background-color: white;
      opacity: 0.8;
      margin-bottom: 0;
      font-size: 2.375em;
      line-height: 1.5em;
    }
    .secondary_title {
      padding: 8px;
      display: inline;
      width: 50%;
      opacity: 0.8;
      text-align: center;
      background-color: white;
      font-size: 1.2em;
      float: none;
    }
  }
  
  
}

.first_comment {
  margin: 25px 0px;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.6em;
  padding: 1.8rem;

  p { font: inherit; }
  span.big {
    float: left;
    font-size: 3em;
  }
}

#discussion {

}