@import "foundation/functions";
@include exports("global") {}
@import "foundation/components/global";

.gmnoprint img {
    max-width: none; 
}

.marker_icon {
  float: left;
  margin-right: 3px;
}

.marker_metadata {
  .agent_name {
    font-size: 0.75rem;
  }
  .marker_date {
    font-size: 0.7rem;
  }
}

.map_title {
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}
.window_entries {
  font-size: 0.7rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
}
.map_marker_small {
  ul {
    margin: 0; padding: 0;
  }
  li {
    clear: both;
    font-size: 0.8rem;
    line-height: 1rem;
    margin: 0;
    padding: 0;
    a {
      font-size: 0.8rem;
      line-height: 1rem;
      margin: 0;
      padding: 0;
      .main_title {
        float: left;
        margin-right: 3px;
        color: #444;
      }
      .secondary_title { display: none;
      }
    }
    list-style-type: none;
  }
}