@import 'variables';

@media only screen and (max-width: 43em) {
  .reveal {
    padding-top: 7rem;
  }
  .top-bar ul li {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 64em) {
  .top-bar .top-bar-left ul li ul li {
    float: left;
  }
  .agent_bar {
    .title-bar {
      background-color: $tertiary-color;
    }
    .sticky.is-anchored.is-at-bottom {
      top: 0px !important;
    }
  }
  .magellan_container {
    .sticky.is-anchored.is-at-bottom {
      top: 0px !important;
    }
  }
  .is-drilldown {
    max-width: initial !important;
  }

  li.is-drilldown-submenu-parent {
    a {
      padding-right: 2rem;
    }
  }

  .top-bar-left ul li#searchform input {
     width: 120px !important;
   }
   
   #discussion {
     .item_listing {
       .comment {
         padding: 1.4rem 0 ;
       }
     }
   }
}


@media #{$medium-down} {

  #newsfeed {
    .discussion {
      .side_comment {
        float: left;
      }
    }
  }
  .newsfeed_comment, .expanded .comment {
    .comment_body_wrapper {
      margin-left: -25px;
    }
  }
  
}

@media #{$small-only} {

  .newsfeed_entry {
    .expanded {
      .comment {
        .comment_data {
          .big {
            width: 10px !important;
            margin: 3px 0px 0px 5px !important;
          }
        }
      }
    }
  }
  .newsfeed_comment, .expanded .comment {
    .comment_body_wrapper {
      margin-left: -8px;
    }
  }
}


@media #{$large-only} {
  .newsfeed_entry {
    .expanded {
      .comment {
        .comment_data {
          .big {
            margin: 6px 0px 0px 20px !important;
          }
        }
      }
    }
  }
  
}

@media #{$medium-only} {
  .newsfeed_entry {
    .expanded {
      .comment {
        .comment_data {
          .big {
            // width: initial !important;
            margin-left: 10px !important;
          }
        }
      }
    }
  }
  
}
@media #{$medium-up} {

  
  .top-bar-section {

    ul {
      li > a {
        width: initial;
        &:hover {
          color: $primary-color;

        }
      }
      li.has-dropdown {
        color: #FEFEFE;
        margin-right: 2rem;
   
        
        ul.dropdown {

          li > a {
            &:hover {
 
            }
            
          }
          li { 
            &:hover {

            }
            
            padding: 0.2rem;
            a {
              font-size: 0.9rem;
              line-height: 1.4rem;
              &:hover {
                color: $primary-color !important;
 
              }
              float: left;
              padding: 0px;
              margin-right: 0.4rem;
            }
          }
        }
      }
    }
  }


  #searchform {
    input[type=text] {
      float: left;
      color: #999;
      width: 8vW;
      margin-right: 0.1rem;
    }
  }
  
}